body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#game {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    gap: 2px;
}

.wall {
    background-color: blue;
}

.path {
    background-color: black;
}

.pacman {
    background-color: yellow;
    border-radius: 50%;
}

.dot {
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    align-self: center;
    justify-self: center;
}
